nav li a:hover {
  color: var(--text-secondary);
}

main {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main welcome */
.welcome {
  background-color: var(--bg-primary);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .welcome h1 {
    font-size: 2rem;
  }
}

.welcome h1 {
  text-align: center;
}

/* contact */

.contact h2,
.contact .main-paragraph,
.contact .contact-wrapper {
  margin-bottom: var(--spacing-large);
}

.contact h2 {
  text-align: center;
  padding-top: var(--spacing-large);
}

@media screen and (max-width: 768px) {
  .contact .contact-wrapper {
    flex-direction: column;
  }
}

.contact .contact-wrapper {
  display: flex;
}

@media screen and (max-width: 768px) {
  .contact ul,
  .contact form {
    width: 100% !important;
    padding: 0;
  }
}

.contact ul,
.contact form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .contact li {
    margin-bottom: var(--spacing-medium);
  }
}

.contact li {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-small);
  margin-bottom: var(--spacing-large);
  border-bottom: 1px solid #ddd;
}

.contact .contact-wrapper p:not(.description),
.contact label,
.contact input,
.contact textarea {
  color: var(--text-dark);
}

.contact .contact-wrapper p,
.contact a,
.contact label,
.contact input,
.contact textarea {
  font-size: var(--fs-medium);
}

.contact a,
.contact .description,
.contact input::placeholder {
  color: #8e8e8e;
}

a {
  display: block;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact ul,
  .contact form {
    width: 100%;
    padding: 0;
  }
}

.contact ul,
.contact form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
}

.contact label {
  margin-bottom: var(--spacing-tiny);
}

.contact input,
.contact textarea {
  padding: var(--spacing-small);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: var(--spacing-medium);
}

.contact input[type="submit"] {
  font-size: var(--fs-medium);
  text-align: center;
  color: var(--text-white);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 5px;
  padding: var(--spacing-small);
  width: 100px;
}

.contact textarea {
  font-family: inherit;
  height: 100px;
}

/* footer */
footer {
  background-color: var(--bg-dark);
}

footer p {
  font-size: var(--fs-small);
  text-align: center;
  color: var(--text-light);
  padding: var(--spacing-medium) 0;
}

@media (max-width: 768px) {
  nav input[type="checkbox"] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }
}

nav input[type="checkbox"] {
  display: none;
}

nav .about-us:hover .submenu {
  display: block;
}
